    <% if (errors && errors.length) { %>
      <div class="flash flash-error">
        <% errors.forEach((message) => { %>
          <p><%= message %></p>
        <% }) %>
      </div>
    <% } %>

    <% if (success && success.length) { %>
      <div class="flash flash-success">
        <% success.forEach((message) => { %>
          <p><%= message %></p>
        <% }) %>
      </div>
    <% } %>
